:root {
  --blanco: #fff;
  --negro: #000;
  --primario: #282a36;
  --secundario: #44475a;
  --gris: #6272a4;
  --purple: #bd93f9;

  --fuente-principal: 'Krub', sans-serif;
  --fuente-tamano: 3.8rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-family: var(--fuente-principal);
}

.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}

.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo {
  text-align: center;
  font-size: var(--fuente-tamano);
  color: var(--primario);

  font-weight: bold;
}

/* ACCEDEMOS A LAS ETIQUETAS */

.titulo span {
  font-size: 2rem;
  color: var(--secundario);
}

.nav-bg {
  background-color: var(--gris);
}

.navegacion-principal {
  display: flex;
  flex-direction: column;
}
.navegacion-principal a {
  text-align: center;
  display: block;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
.navegacion-principal a:hover {
  background-color: var(--secundario);
  color: var(--purple);
}

/* MEDIA QUERIES */

@media (min-width: 480px) {
}
@media (min-width: 768px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-between;
  }
}
